
/* HEADER */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

/* FONT */
.tiny{
  font-size: 1em;
}

.recording{
  color: #f00;
}

.text {
  padding-top: 15px;
  font-size: 1em;
}

/* BLOCKS */
.white{
  background-color: #eee;
  color: #282c34;
}

.block {
  display: block; 
}

.famic {
  font-size: 50px;
  color: #282c34;
  padding: 15px;
}

.aligned{
  display:inline-block;
  vertical-align:middle;
  margin-right:10px
}

/* BUTTONS */
.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
}

.round {
  border-radius: 50%;
}

.curve {
  border-radius: 8px;
}

.faconfluence{
  padding-right: 5px;
}

.fauser {
  font-size: 20px;
  color: #282c34;
  padding-right: 8px;
}

.outer
{
    width:100%;
    text-align: center;
}
.inner { 
  display: inline-block; 
  padding: 10px;
  margin: 4px 4px;
}
.user:hover{background-color:green;}
.highlight:hover{background-color:darkgray;}

/* FORM */

label{
  padding: 5px;
}

 